@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  /* ## Colors */

  /* ### Neutral */

  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  /* ## Typography */

  --size: 18px;

  /* ### Font */
  /* - Weights: 500, 700 */
  /* [Epilogue](https://fonts.google.com/specimen/Epilogue) */

  --font-epilogue: "Epilogue", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: var(--font-epilogue);
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--medium-gray);
  padding: 0.5rem;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: var(--font-epilogue);
  background: var(--almost-white);

}

main {
  min-height: 100vh;
  display: grid;
  align-items: center;
  padding: 0.5rem 3rem;
  grid-template-rows: 5rem auto;
}

/* Navbar start */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: start;
  margin-top: 0.5rem;
}

.nav_1 {
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  color: var(--medium-gray);
  cursor: pointer;
  font-size: 14px;
}

.logo {
  margin-right: 1.5rem;
  width: 84px;
}

.inner-nav_1,
.inner-nav_2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
}

.inner-nav_1 {
  font-weight: 700;
}

.links-card-container {
  position: absolute;
  display: flex;
  top: 3rem;
  right: 0;
  animation: fadeIn 0.3s ease-in-out;
  background: white;
  padding-left: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.links-card-container._1 {
  font-weight: 500;
}

.links_2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links_2 a {
  padding: 0.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
}
.links_2 svg {
  width: 18px;
  margin-right: 1rem;
}
.links_2 a:first-child {
  padding-top: 1.5rem;
}
.links_2 a:last-child {
  padding-bottom: 1.5rem;
}
.links_2 a:hover {
  opacity: 0.7;
}

.link-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-inline svg {
  width: 20px;
}

.links-card-closing {
  animation: fadeOut 0.3s ease-in-out;
}

.nav_2 button {
  color: var(--medium-gray);
}

.register {
  border: 2px solid var(--medium-gray);
  border-radius: 0.85rem;
  padding: 0.75rem 1.5rem;
  margin-left: 2rem;
}

/* Navbar End Desktop */

/* Navbar Start Mobile */

.navbar-mobile-container {
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  width: 100%;
  height: 250vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 150ms ease-in-out;
}

.mobile-menu-active {
  transform: ;
}

.links-menu {
  background-color: white;
  width: 65%;
  height: 100%;
}

.background-menu {
  background: rgba(0, 0, 0, 0.6);
  width: 35%;
  height: 100%;
}

/* Navbar End Mobile */

/* Section Start */

.container {
  max-width: 1145px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

article {
  flex: 1;
  padding-top: 6.5rem;
}

.title {
  font-size: 5rem;
  max-width: 525px;
  margin-bottom: 3rem;
  line-height: 5.05rem;
}

.description {
  font-size: var(--size);
  color: var(--medium-gray);
  line-height: 1.6;
  max-width: 475px;
  margin-bottom: 3.1rem;
}

.learn-more {
  background: var(--almost-black);
  color: var(--almost-white);
  font-size: var(--size);
  padding: 1.18rem 1.89rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.brand-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

aside {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 1rem;
}

.hero-desk {
  max-width: 480px;
}
.hero-mobile {
  display: none;
}

/* Hover states */

button:hover,
a:hover {
  color: var(--almost-black);
}
.register:hover {
  border-color: var(--almost-black);
}
.inner-nav_1:hover,
.inner-nav_2:hover {
  color: var(--almost-black);
}
.learn-more:hover {
  background: var(--almost-white);
  outline: 1px solid var(--almost-black);
  outline-offset: -1px;
  font-weight: 700;
}

/* Section End */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media screen and (max-width: 1145px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  article {
    padding-top: 3rem;
  }
  img {
    object-fit: cover;
  }
}

@media screen and (max-width: 900px) {
  main {
    padding: 1.5rem;
  }
  .title {
    font-size: 3rem;
  }
  .learn-more {
    padding: 1.05rem 1.5rem;
  }
  .brand-container {
    gap: 1rem;
  }
  .brand-container svg {
    scale: 0.8;
  }
  aside {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding: 0;
  }
  .navbar {
    padding: 1rem;
    margin: 0;
  }
  .container {
    flex-direction: column-reverse;
  }
  article {
    margin: 0 auto;
  }
  article *:not(.brand-container *) {
    margin-inline: auto;
    text-align: center;
  }
  .learn-more {
    display: block;
  }
  aside {
    padding: 0;
  }
  .hero-desk {
    display: none;
  }
  .hero-mobile {
    display: block;
  }
}

@media screen and (max-width: 485px) {
  article {
    padding-top: 2rem;
  }
  .title {
    font-size: 2.5rem;
    margin: 0;
  }
  .description {
    margin-bottom: 1.65rem;
  }
  .learn-more {
    margin-bottom: 2.65rem;
  }
}
